<!-- user-details -->
<div class="p-16">
    <div class="p-8 bg-white shadow mt-24">
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
                <div>
                    <p class="font-bold text-gray-700 text-xl">{{photos}}</p>
                    <p class="text-gray-400">Photos</p>
                </div>
                <div>
                    <p class="font-bold text-gray-700 text-xl">{{followers}}</p>
                    <p class="text-gray-400">Followers</p>
                </div>
                <div>
                    <p class="font-bold text-gray-700 text-xl">{{following}}</p>
                    <p class="text-gray-400">Following</p>
                </div>
            </div>
            <div class="relative">
                <div
                    class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">

                    <img class="rounded-full w-48 h-48 shadow-2xl absolute"
                        src="https://app.smartkeeda.com/demoimage/profile/p2.jpg" alt="">
                </div>
            </div>
            <div class="space-x-8 flex justify-center mt-32 md:mt-0 md:justify-center">

                <button
                    class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                    Messages</button>
            </div>
        </div>
        <div class="mt-20 text-center border-b pb-12">
            <h1 class="text-4xl font-medium text-gray-700">{{name}}

            </h1>
            <p class="font-light text-gray-600 mt-3">{{location}}</p>
            <p class="mt-3 text-gray-500">{{description}}</p>
            <p class="mt-2 text-gray-500">University of Computer Science</p>
        </div>
        <div class="mt-12 flex flex-col justify-center">

            <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
                <div *ngFor="let c of ar">
                    <img class="h-full max-w-full rounded-lg " [src]="c.Image" alt="" height="100px">
                </div>


            </div>

        </div>
    </div>
</div>

<!-- user-details ends here -->




<!-- api component -->

<app-apitry (transferapigetprofile)="api3($event)"></app-apitry>

<!-- api component -->